@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Mada';
    font-style: normal;
    font-weight: normal;
    src:
        local('Mada Regular'),
        url('./assets/fonts/Mada-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Mada';
    font-style: normal;
    font-weight: medium;
    src:
        local('Mada Medium'),
        url('./assets/fonts/Mada-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Mada';
    font-style: normal;
    font-weight: bold;
    src:
        local('Mada Bold'),
        url('./assets/fonts/Mada-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Mada Black';
    font-style: normal;
    font-weight: black;
    src:
        local('Mada Black'),
        url('./assets/fonts/Mada-Black.woff') format('woff');
}
@layer base {
    main[data-theme='dark'] {
        --background-color: #1e1e1e;
        --text-color: #e2e2e2;
        --card-color: #3d3d3d;
        --accent-color: #61ff00;
    }
    main[data-theme='light'] {
        --background-color: #e7e7e7;
        --text-color: #202020;
        --card-color: #dedede;
        --accent-color: #007802;
    }

    *,
    *:before,
    *:after {
        @apply m-0 box-border p-0;
    }

    main {
        --header-height: 80px;
        font-family:
            'Mada' Arial,
            Helvetica,
            sans-serif;
        @apply bg-background-color text-text-color transition-all duration-500 ease-in-out;
    }
    .content-container {
        @apply mx-auto max-w-[1440px] px-6 py-8 lg:px-12 lg:py-12;
    }

    .outlined-text {
        -webkit-text-stroke: 1px var(--text-color);
    }
    article > p {
        @apply !mb-4;
    }
}
