@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    :root {
        --background-color: #1e1e1e;
        --text-color: #fff;
        --header-height: 80px;
    }

    *,
    *:before,
    *:after {
        @apply m-0 box-border p-0;
    }

    main {
        @apply bg-background-color text-text-color;
    }
    .content-container {
        @apply mx-auto max-w-[1440px] px-6 lg:px-12;
    }

    .outlined-text {
        -webkit-text-stroke: 1px var(--text-color);
    }
}
